<div class="app-admin-posts-list__header">
  <h2 class="app-admin-posts-list__title">Posts</h2>

  <button mat-icon-button color="primary" type="button" (click)="addPost()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>

<mat-nav-list class="app-admin-posts-list__content">
  <a
    *ngFor="let post of posts$ | async"
    mat-list-item
    [routerLink]="['/admin', 'posts', post.id]"
    routerLinkActive="app-admin-posts-list__item--active"
    [disabled]="postLinkRef.isActive"
    #postLinkRef="routerLinkActive"
  >
    {{ post | adminPostTitle }}
  </a>
</mat-nav-list>
