<app-core-layout>
  <p>posts-details-view works!</p>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ea exercitationem provident quidem voluptas! A ad
    aspernatur commodi, earum eius ex incidunt ipsam libero mollitia natus nesciunt reiciendis rerum temporibus.
  </div>
  <div>Accusantium cum doloremque magnam, quasi quibusdam quisquam repudiandae temporibus veritatis. Accusantium
    adipisci alias deserunt doloremque fugit impedit incidunt iusto labore neque odio odit, possimus, praesentium
    repellendus sed sequi tempora voluptatem!
  </div>
  <div>Alias aspernatur autem culpa doloremque error ex facere in iusto minima obcaecati odio optio porro quis ratione
    reprehenderit rerum sapiente, tenetur totam, vero voluptas? Atque magni maiores maxime placeat rem.
  </div>
  <div>Animi aspernatur autem cupiditate dolor eius hic, illum itaque modi omnis quaerat, rem saepe totam voluptates.
    Debitis laborum numquam quaerat repudiandae tenetur! At dolore doloribus dolorum hic itaque quo tempore.
  </div>
  <div>Accusantium alias exercitationem sunt. Autem blanditiis dolore eos error explicabo, harum illum in, iusto libero
    maxime qui quos recusandae rem repellat similique tempora unde ut voluptate. Non provident rem sequi!
  </div>
  <div>Aliquam amet consectetur cumque dignissimos error et exercitationem harum, id ipsum labore laborum modi nam
    necessitatibus obcaecati pariatur quam quasi repudiandae saepe sed tempore tenetur ullam voluptatibus? Ad, aliquam
    ratione.
  </div>
  <div>Dolorum et iste libero necessitatibus ratione repellendus sit unde. Animi aperiam cum earum hic magni perferendis
    quam quas tenetur. Ad consequatur dicta earum ipsam libero praesentium quaerat quia sequi veniam.
  </div>
  <div>A aspernatur commodi eligendi error fugiat incidunt ipsa magnam maiores, minima obcaecati possimus quibusdam
    quidem quo repudiandae temporibus veritatis vitae. Aperiam asperiores aspernatur esse facere fugit magnam, maiores
    obcaecati quis.
  </div>
  <div>Ducimus impedit laboriosam maiores modi nulla omnis recusandae sit. Ad animi delectus deleniti dicta dignissimos
    eveniet hic, laboriosam, laborum maxime modi nisi placeat quam quibusdam quisquam soluta tenetur, totam voluptates.
  </div>
  <div>Aliquid aspernatur aut consectetur corporis culpa debitis dignissimos eaque, et explicabo ipsam iste laboriosam
    magnam maiores modi nam nobis, odit perspiciatis qui quod rem sint sunt tenetur velit voluptates, voluptatum!
  </div>
  <div>Consequatur deleniti doloribus ducimus facere iste nemo perferendis quas recusandae suscipit tempore? Amet
    consequuntur delectus dolorum inventore, ipsa iste iusto magni non odio rem saepe tenetur ut. Accusamus, autem non?
  </div>
  <div>Deserunt esse eveniet in vero! Aperiam, beatae dolore doloremque ea maiores nam rerum sequi voluptas? Adipisci
    doloremque eius est, ipsam nobis odio quos veniam voluptatibus. Consequuntur dolore quidem tenetur. Adipisci!
  </div>
  <div>A commodi, dignissimos doloribus dolorum ea et ex expedita iure laboriosam minus nam necessitatibus nemo nobis
    non quaerat, quod vero vitae voluptates. Aspernatur dolor eos nulla optio ratione vel vero.
  </div>
  <div>Inventore minima nam quisquam rem. Ab amet at autem consectetur cum delectus deserunt eius est hic impedit in
    laudantium necessitatibus, nisi nulla odit optio sapiente sit soluta suscipit voluptate. Tempore!
  </div>
  <div>Adipisci asperiores corporis culpa doloremque eaque est facere fugit harum maxime molestias natus nihil non,
    possimus quasi recusandae repellat, saepe sequi sunt unde, voluptas? Possimus provident tempore totam vel velit!
  </div>
  <div>Amet aspernatur at atque eligendi et, facilis hic impedit inventore labore laboriosam magnam maiores maxime
    numquam quae quidem repellat rerum sunt suscipit temporibus voluptatem. Adipisci quasi repudiandae ut veniam
    veritatis?
  </div>
  <div>Culpa earum, excepturi explicabo fugiat ipsa ipsum iste iure iusto nostrum officia perspiciatis quidem quisquam
    quos saepe sint, voluptates voluptatum? Consequuntur culpa cumque delectus, hic in laboriosam odio quae vel!
  </div>
  <div>Dicta ex, nisi odio reprehenderit sit tempora? A amet architecto, doloribus ex labore mollitia numquam quam quia
    similique tempore. Beatae earum hic id numquam omnis praesentium quo repudiandae saepe voluptatibus!
  </div>
  <div>Ab consequatur necessitatibus neque? Alias aliquid autem commodi cum delectus dicta doloribus esse, eum hic illo
    impedit laudantium maiores necessitatibus nihil quis quos rem reprehenderit, repudiandae tenetur voluptatum. Autem,
    illum.
  </div>
  <div>Adipisci consequatur eum exercitationem fugit nesciunt nostrum reiciendis sit vitae! Accusamus aperiam atque
    autem culpa cum dicta dignissimos dolore dolorum eius facilis, ipsa neque nihil officiis reiciendis, tempora ut,
    velit!
  </div>
  <div>Aliquid dolore explicabo ipsa ipsam iste nam perferendis repellat ullam ut vero. A amet, dicta eligendi enim ex
    ipsum laboriosam mollitia numquam odio officiis possimus quasi tempora ullam voluptate voluptates!
  </div>
  <div>Asperiores autem ducimus ea eaque est eum exercitationem facilis fugiat, fugit in incidunt ipsa iure laboriosam
    laborum libero molestias nesciunt non nostrum optio possimus quasi quibusdam quis sit sunt vitae.
  </div>
  <div>Debitis deserunt dicta dignissimos, facilis labore laborum minus, mollitia nesciunt nostrum repellendus
    reprehenderit sapiente, sint sunt suscipit vel. Amet architecto eaque excepturi facere illum inventore ipsa magnam
    perspiciatis praesentium ullam.
  </div>
  <div>Animi asperiores molestias quaerat suscipit velit. Adipisci, dignissimos ex ipsum possimus quaerat repellat.
    Cupiditate deleniti eligendi mollitia necessitatibus voluptates. Culpa eius ex natus nostrum odio placeat qui quia
    quibusdam sunt?
  </div>
  <div>Ad adipisci consequatur debitis deleniti dignissimos dolore doloremque eaque facere illum ipsa magnam magni
    maiores maxime molestiae, molestias natus necessitatibus quae reprehenderit saepe sapiente sed sit totam ullam unde
    vitae?
  </div>
  <div>Accusantium animi aperiam corporis cumque dolor ducimus est illo, impedit incidunt ipsa ipsum labore laboriosam
    libero minima, obcaecati, provident quia quo tempora tenetur unde vitae voluptas voluptate voluptatem voluptates
    voluptatibus.
  </div>
  <div>Assumenda consequatur consequuntur, dolorum exercitationem fuga minus nisi nostrum perferendis, placeat quis quos
    similique sit temporibus. Animi, autem beatae fugiat natus nesciunt qui quidem sapiente similique vero voluptate?
    Eligendi, nemo?
  </div>
  <div>Adipisci alias architecto asperiores assumenda, aut consequuntur corporis dignissimos dolor maxime nihil nulla
    quae qui, quo similique, soluta totam vel vitae voluptas voluptate voluptatibus! Corporis eius illum ipsum
    laudantium quidem.
  </div>
  <div>Architecto consectetur consequatur corporis dolorum excepturi molestias nam, perspiciatis quaerat quidem
    voluptatum. Commodi doloremque labore maxime quia quidem voluptatum. Corporis deleniti doloremque, enim laborum
    pariatur quibusdam quidem tempora ullam voluptatem!
  </div>
  <div>A aliquam, animi aut, corporis ipsam mollitia nam natus numquam quia quo sequi soluta tempore voluptatum! Aliquid
    amet assumenda cum, dolor eaque eligendi expedita id, illum in numquam quas, repellendus.
  </div>
  <div>Aliquid aut et quisquam repellat reprehenderit? A aliquam atque cumque deleniti dolor dolore dolorum est fugiat
    harum ipsa ipsum maiores nihil nobis odio quos rerum soluta tempore temporibus, vero, voluptatem.
  </div>
  <div>Blanditiis eum nisi totam? A aspernatur, beatae distinctio dolores eius esse est et, id impedit inventore maiores
    nam officiis, perspiciatis porro provident quam qui sapiente sit tenetur vitae. Reprehenderit, veniam.
  </div>
  <div>Asperiores deserunt nesciunt, odit quaerat quibusdam repudiandae tempore vel? Aspernatur at facere labore maxime
    obcaecati quos voluptate. Blanditiis consequatur doloremque eaque facere impedit ipsum optio quas, quia quisquam rem
    tenetur!
  </div>
  <div>Alias aliquam atque aut blanditiis consequuntur debitis earum est et harum ipsa iusto nostrum pariatur placeat
    qui voluptas, voluptate voluptatem. Asperiores culpa cum debitis doloremque impedit nobis perferendis perspiciatis
    saepe?
  </div>
  <div>Alias at commodi cum cupiditate debitis distinctio dolore ducimus fuga, iste molestias, nesciunt nostrum odit
    quasi quibusdam quod quos recusandae reiciendis repellendus similique tempore totam voluptas voluptates. Dolorem,
    molestias, soluta.
  </div>
  <div>Commodi culpa dicta, doloribus, eaque eius explicabo impedit laudantium libero non omnis optio perspiciatis
    ratione repellat ut, vel? Atque consequatur delectus eligendi enim illo, maiores nobis optio quis vero vitae!
  </div>
  <div>Assumenda blanditiis deserunt, eius eligendi et in incidunt ipsa labore laudantium magnam molestias numquam
    pariatur praesentium, quae quos sit totam. Cumque cupiditate fugiat illo mollitia nemo officiis repellat tempora
    voluptatum!
  </div>
  <div>Distinctio dolorum esse exercitationem facere, fugit hic ipsam ipsum itaque laudantium minima nam omnis optio quo
    recusandae repellat reprehenderit ut? Dicta est perferendis praesentium reprehenderit! Deleniti dicta placeat totam
    vitae.
  </div>
  <div>Ab adipisci, amet assumenda cum dignissimos earum eum impedit officiis, quisquam recusandae sequi tempora vitae.
    Ab consequatur deserunt dolores eum obcaecati officiis perferendis repellendus? Aut fugit laborum non sapiente sed.
  </div>
  <div>Consequatur ducimus labore maiores mollitia nisi perferendis praesentium. Adipisci amet aspernatur atque dolor
    error harum inventore libero natus odit quae quasi reprehenderit rerum sapiente, sequi tenetur, vero voluptate
    voluptatem voluptatum!
  </div>
  <div>Ea error labore sint voluptas! Accusantium ad corporis cupiditate debitis est, excepturi illum magnam molestias
    neque odio, officiis, quam quos sapiente sequi tempora voluptatibus voluptatum! Blanditiis et nesciunt provident
    repudiandae.
  </div>
  <div>Architecto asperiores aspernatur cum maiores molestiae reiciendis repellendus tempore! Consequatur ducimus enim
    explicabo. Cumque dolor doloribus, eos illum mollitia repellendus saepe voluptatem? Incidunt mollitia officia optio
    quos unde. Libero, temporibus.
  </div>
  <div>Aliquam aperiam beatae cupiditate delectus dolorum eaque, eum hic in iste neque nulla quae quasi quis, repellat
    velit vitae, voluptatibus! Amet, corporis esse laboriosam minima nostrum officia quibusdam sint tenetur!
  </div>
  <div>Amet commodi consequuntur cupiditate explicabo, facere officia officiis saepe similique totam. Assumenda
    consequuntur dicta distinctio dolorum eligendi eos est hic id incidunt itaque molestiae, nemo nesciunt provident rem
    similique voluptates.
  </div>
  <div>Ad aliquam commodi, culpa cum debitis distinctio eaque facere harum, id incidunt itaque maiores minus mollitia
    odit officia, perferendis praesentium quas quis quisquam recusandae sapiente similique sint unde ut voluptas.
  </div>
  <div>A cumque explicabo molestiae mollitia, optio repellendus. Amet autem consectetur consequatur dicta in, magnam
    molestiae molestias nam, non provident, quibusdam ratione reiciendis repudiandae? Ab deleniti eius iure nemo totam
    vero.
  </div>
  <div>Aperiam asperiores commodi consequuntur dolor doloremque dolorum ea, esse est fugiat illum incidunt iure labore
    laborum nemo, neque nulla perferendis quia quis, repellendus reprehenderit rerum sequi veritatis vitae voluptate
    voluptatibus!
  </div>
  <div>Delectus dolores fugit in libero magnam maxime vel? Aut, autem culpa ea eos illum, ipsum iusto placeat quidem
    quos similique sunt tenetur. Aliquid, autem corporis et in minima recusandae vitae?
  </div>
  <div>Ab amet asperiores aspernatur, assumenda atque, consectetur dignissimos dolor doloremque doloribus, eaque
    expedita ipsa iste magnam nihil nisi obcaecati odio officiis placeat recusandae rem repudiandae sapiente similique
    tempora tempore voluptates?
  </div>
  <div>Architecto asperiores, at atque blanditiis consequatur dignissimos dolorem dolores eaque eius fuga fugiat illum
    in incidunt magni neque nobis, porro quia recusandae reiciendis tempora totam ullam ut velit veniam vero.
  </div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi laborum magni repudiandae saepe. Ad amet dolores,
    fuga illo molestiae natus neque odio officia perspiciatis possimus quae quam sit totam vitae.
  </div>
  <div>Adipisci beatae deleniti distinctio dolorum enim hic incidunt nemo quidem rem sunt. Adipisci aliquam doloremque
    expedita, harum illo illum incidunt inventore iste itaque non officiis provident quaerat qui quos sunt!
  </div>
  <div>Eum iure, maiores qui quidem sunt voluptates. Accusantium aperiam autem corporis cumque deserunt doloremque earum
    error excepturi fugit ipsa laboriosam nam natus nisi nulla, officia officiis, perspiciatis provident sed sint.
  </div>
  <div>Consequatur earum facere minus, quod soluta totam? Alias aliquid, amet aspernatur assumenda dolorem, enim error
    esse id maxime modi quam quas quis ratione reiciendis repudiandae saepe sint. Beatae, blanditiis, reprehenderit!
  </div>
  <div>At aut blanditiis, distinctio ea eligendi eum ex hic id iusto laboriosam! Ab ad consequuntur dolorem ducimus enim
    ex magni maiores minus natus nulla, optio perspiciatis placeat, quaerat, tempora unde?
  </div>
  <div>Autem, consequatur cum, error fugiat in ipsam laboriosam maiores non porro reprehenderit voluptates voluptatum. A
    ab culpa cum debitis ducimus earum, eius numquam pariatur, repellendus tempore, velit veniam veritatis voluptates.
  </div>
  <div>Accusamus ad consequatur dignissimos dolorum ipsam, minima. Ad animi eius eos, id omnis quibusdam rem suscipit
    voluptate! Accusantium, facere illo molestiae nam possimus quia reiciendis, saepe soluta tempore voluptatem
    voluptatum.
  </div>
  <div>Blanditiis delectus deserunt doloremque ipsa ipsum laudantium magnam molestias nesciunt pariatur, perferendis
    quidem sequi sit sunt tempora vel? Ab alias commodi consequatur dignissimos ea labore quam reiciendis sit veritatis
    voluptatem?
  </div>
  <div>Aliquid aut consequuntur cumque deleniti dignissimos dolores ducimus eaque enim eum eveniet illum ipsa laudantium
    libero natus necessitatibus, nesciunt nobis odio perferendis qui quia repudiandae tempora ullam veniam voluptas
    voluptate!
  </div>
  <div>Dicta dignissimos eum facilis harum, inventore itaque iusto libero obcaecati praesentium provident qui vitae
    voluptates. Assumenda cumque excepturi in! Ab aut culpa excepturi facere, hic id necessitatibus nemo odit. Iusto!
  </div>
  <div>Ab atque corporis, itaque molestias non pariatur quaerat quia quidem, rem soluta tempore voluptatibus. Accusamus
    amet, aperiam corporis cumque dolore ex facilis fugit itaque, modi mollitia numquam possimus veritatis, vitae!
  </div>
  <div>Adipisci amet commodi consequatur dolores dolorum eius eligendi enim, in incidunt inventore laboriosam magni
    maiores minus nemo nihil nostrum numquam optio praesentium quos repudiandae similique vitae voluptatum! Officia,
    recusandae, reiciendis?
  </div>
  <div>Architecto commodi culpa dolores eaque, eos illum itaque magni natus nisi perferendis quos ratione reiciendis
    similique suscipit, temporibus! Ad animi blanditiis cum distinctio dolores doloribus natus, quam quibusdam
    repudiandae voluptatem?
  </div>
  <div>Aut consequuntur cum nostrum possimus quos ratione sit tenetur veritatis? Neque ratione, veniam. Cupiditate,
    dolore ducimus esse hic illum impedit iusto magnam molestias odio quidem, ratione sit soluta unde, vel!
  </div>
  <div>At cum eius eos fugiat itaque laboriosam minima numquam obcaecati officiis perspiciatis quidem, rem reprehenderit
    sequi similique voluptates. Fugiat nulla quam saepe ut. Odio omnis quaerat quibusdam totam voluptas. Ad!
  </div>
  <div>Ab accusamus autem beatae consequuntur dolores doloribus dolorum exercitationem, facere fugit harum hic id
    laborum magnam minus porro quam recusandae sint sunt ullam vitae? Assumenda incidunt ipsa officia rerum voluptas!
  </div>
  <div>Accusantium delectus dignissimos, distinctio facilis harum id, iste nemo, numquam porro quaerat quos tempora unde
    voluptatibus! Ducimus harum hic in libero, neque ratione saepe vitae! Fugit itaque perspiciatis sunt suscipit.
  </div>
  <div>Aut cumque cupiditate dolorem laudantium quia, quidem quos suscipit. Dicta nesciunt odio quas quis rerum. Amet
    aperiam aspernatur deserunt dicta dignissimos dolore fugit, illo inventore iusto, praesentium quas, sapiente sit!
  </div>
  <div>Aperiam assumenda commodi consequatur cum dolore error illum inventore labore, molestias placeat similique
    voluptas. Animi culpa, expedita iure porro quam rem repellat repellendus! Deleniti fugit non quae quod, ullam
    voluptatibus.
  </div>
  <div>Architecto aspernatur atque culpa dolorem eaque est exercitationem non, porro quaerat reiciendis. Ab accusantium
    animi consectetur doloribus facilis ipsa labore, laudantium nesciunt optio porro praesentium quam, quidem totam unde
    veniam!
  </div>
  <div>Doloribus modi odio, omnis provident repellat repellendus! Blanditiis commodi culpa, deleniti doloremque ea
    facilis inventore iure quia quibusdam quidem repellendus voluptas? Cum cumque doloribus, fugit minus quidem tempore
    voluptas voluptate!
  </div>
  <div>Accusamus animi aut error ex nam nostrum? Accusantium aliquid animi aut dignissimos distinctio, ducimus eligendi
    ex labore magni nisi nobis, non optio porro quasi quia quis sequi, sint veniam vitae?
  </div>
  <div>Commodi dignissimos dolore ea enim eveniet ex, expedita facere iure laboriosam molestiae nam, placeat quisquam
    repellendus sapiente sit tempora vel? Consectetur est eveniet ex itaque maxime quas sed vero voluptatum.
  </div>
  <div>A ab animi assumenda atque consectetur dignissimos dolorum earum enim ipsa itaque laboriosam minus odio officia
    officiis perferendis qui reiciendis saepe, sint soluta tempora ut velit voluptatum? Id, inventore modi?
  </div>
  <div>Assumenda atque eius esse exercitationem fuga magni nihil, nostrum odio optio quibusdam quidem quod ratione,
    sapiente tempore vero. Accusamus adipisci at illum inventore neque quia reiciendis, sapiente soluta velit
    voluptatum?
  </div>
  <div>Autem blanditiis debitis iste, magni natus neque nisi officia quibusdam similique vel. Aliquam aperiam aspernatur
    eligendi est facere harum natus repudiandae voluptatibus? Alias enim eos exercitationem fugit mollitia soluta
    veritatis?
  </div>
  <div>Dolore dolorem harum hic ipsa ipsum maxime non obcaecati possimus, quae quaerat recusandae reiciendis repellat,
    reprehenderit sunt voluptatem! Ad aspernatur aut ducimus magni nemo nesciunt nihil perferendis repellendus
    voluptatibus voluptatum!
  </div>
  <div>Distinctio ducimus eaque, facilis harum inventore iste quidem totam unde? Animi commodi corporis, cum deleniti
    dolores eius eos error est ex expedita facilis, ipsum iure molestiae, molestias neque placeat voluptatum!
  </div>
  <div>Ex maiores non ratione veniam. Ad adipisci aperiam assumenda consectetur cum ducimus eius esse est excepturi
    facere fugit ipsa itaque, iusto nemo odit, quisquam totam veniam. Cumque dignissimos odio sint.
  </div>
  <div>Ab adipisci at atque cumque debitis et fuga, repellat reprehenderit sunt tempore tenetur voluptatem? Amet
    assumenda commodi et laborum magni non qui temporibus tenetur, voluptate. Cum, fuga, totam? Laboriosam, suscipit?
  </div>
  <div>Amet atque aut autem cumque dicta eaque iure numquam odit pariatur provident quis, ratione reprehenderit
    suscipit. Ad beatae consectetur labore minus perferendis reiciendis, repellat repudiandae saepe voluptates! Dicta,
    iusto quasi.
  </div>
  <div>Adipisci aliquam architecto ea eligendi numquam ut? Alias doloremque harum nostrum porro unde? Alias aperiam
    deserunt dicta est eum iure, nobis numquam officia possimus quisquam repellat sapiente tenetur voluptas voluptatem?
  </div>
  <div>Incidunt laborum minus numquam sapiente similique. Aut culpa, dolores ipsum minima mollitia repellat velit! Alias
    aliquid beatae, consequatur error explicabo iusto, magnam maiores nemo nisi non perspiciatis, reiciendis sed vel.
  </div>
  <div>Aut eaque modi quaerat ratione reprehenderit. A asperiores autem deleniti dolores harum libero nam necessitatibus
    nihil nobis non nostrum nulla obcaecati odio odit perspiciatis sed sequi sit tenetur veniam, voluptates!
  </div>
  <div>Atque beatae debitis dolore ex exercitationem facilis hic in iure magnam maiores nihil nisi praesentium,
    repellendus soluta voluptas. Corporis cum dicta dolores, iste maxime modi nam necessitatibus perferendis reiciendis
    totam?
  </div>
  <div>Adipisci at autem magnam nisi nulla omnis optio quas ratione sit totam? Aliquam illo possimus sequi vero.
    Adipisci, at ea, error impedit laborum neque obcaecati odit qui quos vel veritatis?
  </div>
  <div>Cumque debitis eius ipsam itaque iure mollitia. Consectetur deleniti ipsum odit officiis placeat, recusandae
    suscipit. Atque autem cupiditate ducimus earum iste magnam nam natus pariatur, quaerat, quis sequi sunt temporibus!
  </div>
  <div>Consequuntur dolore exercitationem numquam placeat voluptatem. Debitis delectus doloremque dolorum maiores
    placeat sed tempora vitae. Minus molestiae nesciunt quia tempore vitae! Aut commodi cum, dicta esse in nobis
    repellendus velit?
  </div>
  <div>Aliquam et eum neque non perspiciatis praesentium repudiandae tempore vitae voluptatem! Aliquam amet delectus
    dolorem eius est facilis fugit, inventore iusto laudantium placeat quae quos soluta sunt ullam unde ut?
  </div>
  <div>Aliquam consequuntur cupiditate delectus dignissimos dolorem doloremque doloribus, eaque eligendi, error facere
    fugiat incidunt ipsa laudantium libero molestias, nihil perferendis perspiciatis provident quia tempora! Animi culpa
    magni minus possimus voluptate.
  </div>
  <div>Animi aspernatur beatae dolor eaque eius, enim facere hic libero necessitatibus obcaecati possimus quae quaerat
    quos soluta totam vitae voluptatum. Ab commodi cupiditate ipsam suscipit tempore. Aperiam et provident saepe!
  </div>
  <div>Adipisci aliquid cum facere fuga officia quaerat saepe tempore. A aliquid amet assumenda consequuntur, est ipsa
    labore maxime, non nulla odit possimus, quam ut! Asperiores doloribus eius exercitationem obcaecati qui?
  </div>
  <div>Ab aliquid aperiam, corporis, dignissimos dolore ducimus facilis fuga illo nihil nulla provident quibusdam rerum
    temporibus tenetur ut velit voluptatem! Exercitationem iusto provident quis. Dolor ex modi neque porro qui.
  </div>
  <div>Ab atque autem debitis dignissimos distinctio dolore eos, esse est et exercitationem facilis hic illum inventore
    iure, magni, maxime nobis nostrum omnis reiciendis rem reprehenderit sint sit suscipit totam vitae.
  </div>
  <div>Ab at atque autem blanditiis culpa cum earum, eos, est, hic id illo laborum molestiae nam necessitatibus omnis
    placeat provident quaerat quibusdam quis ratione. Deleniti maxime molestias officiis quos soluta?
  </div>
  <div>Adipisci aliquam, animi, aspernatur, commodi corporis delectus deleniti doloremque eum excepturi impedit iste
    labore maiores nam nihil obcaecati perspiciatis praesentium quam quia quis quod quos sequi ullam velit! Deserunt,
    natus.
  </div>
  <div>A aut dicta expedita maxime nemo. Cupiditate, doloremque ut. Consequatur cumque delectus deserunt distinctio
    dolore excepturi inventore magnam magni, porro provident quae, quos, rem repellat soluta tempore ullam voluptatum.
    Autem!
  </div>
  <div>Adipisci, alias aperiam aspernatur aut commodi eius, est fuga ipsam ipsum iste magnam nam nobis numquam odit
    provident quia quis ratione rem repudiandae rerum saepe sapiente sunt, tenetur vitae voluptatibus?
  </div>
  <div>A at iure molestias obcaecati quia ratione rerum similique vel? Aliquam at eaque esse illo, magnam nisi quaerat
    similique? At, enim voluptas. Debitis eos, excepturi exercitationem nulla ratione repellat vel?
  </div>
  <div>Consectetur corporis laborum maiores nisi porro quod sed, similique! Aliquid amet architecto dolor ducimus error
    illum impedit iure libero necessitatibus nobis nulla praesentium provident, quisquam sit suscipit tempora velit
    veniam?
  </div>
</app-core-layout>
